.Screen {
  display: flex;
  background-color: blue;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.ReactPlayer {
  position: fixed;
  top: 0;
  left: 0;
  height: 800px;
  background-color: red;

  width: 100% !important;
}
.Video {
  object-fit: fill !important;
  height: 80%;
  width: 100%;
}
