.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}
.div {
  height: 500px;
  display: flex;
  width: 100%;
  background-color: transparent;
}
.header {
  display: flex;
  width: 100%;

  flex-direction: column;
  background-color: white;
}

.h2 {
  margin-top: 3%;
  align-content: flex-start;
  margin-left: 5%;
}
.title {
  margin-left: 8%;
}
.content {
  display: flex;

  flex-direction: column;

  margin-top: 5%;
}
.p {
  font-size: 25px;
  margin-left: 10%;
  width: 60%;
  color: white;
  margin-top: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  line-height: inherit;
  text-align: start;

  animation: fadeIn linear 4s;
}
.imginfo {
  width: 40%;
  margin-top: 1%;
  margin-left: 12%;
  border-radius: 5px;
}
.head {
  margin-top: 1%;
  align-content: flex-start;
  margin-left: 15%;
}

.features {
  font-size: 25px;
  margin-left: 15%;
  width: 60%;
  color: white;
  margin-top: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  line-height: inherit;
  text-align: start;
}

.Video {
  object-fit: fill !important;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .imginfo {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .p {
    width: 85%;
  }
}
